<%- include('header.ejs') %> 

<div class="container my-5">
    <h1 class="text-center mb-4">About <b>Paste App</b></h1>
    <p class="lead">Paste App is a free and open source application that allows you to create and share text snippets online. You can use it to share code, notes, or anything else you want with anyone around the world.</p>
    <p class="lead">Our mission is to make it easy for you to share your knowledge and ideas with the world. We believe that knowledge should be free and accessible to everyone, and we want to do our part in making that happen.</p>
    <p class="lead">Thank you for using Paste App. We hope you find it useful and we welcome any feedback or suggestions you may have.</p>
    <div class="d-flex justify-content-center align-items-center">
        <img src="https://cdn-media-1.freecodecamp.org/images/1*wgbmuDgBQ6N-kOrbD-qMFA.jpeg" class="img-fluid">
    </div>
</div>

</body>
</html>