<%- include('header.ejs') %> 

<div class="container mt-5">
    <h1 class="text-center mb-4">Our <b>Sponsors</b></h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5">
        <!-- Sponsor 1 -->
        <div class="col">
        <div class="card h-100">
            <img src="https://icons-for-free.com/download-icon-pastebin-1324440210742173072_512.png" class="card-img-top" alt="Sponsor 1">
            <div class="card-body">
            <h5 class="card-title">Pastebin</h5>
            <p class="card-text">Pastebin is a web application that allows users to store and share text snippets online, making it useful for sharing code, notes, and other information. </p>
            <a href="#" class="btn btn-primary">Visit website</a>
            </div>
        </div>
        </div>

        <!-- Sponsor 2 -->
        <div class="col">
        <div class="card h-100">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="card-img-top" alt="Sponsor 2">
            <div class="card-body">
            <h5 class="card-title">GitHub</h5>
            <p class="card-text">GitHub is a web-based platform for version control and collaboration that allows developers to host and review code, manage projects, and more. </p>
            <a href="#" class="btn btn-primary">Visit website</a>
            </div>
        </div>
        </div>

        <!-- Sponsor 3 -->
        <div class="col">
        <div class="card h-100">
            <img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/89_Digital_Ocean-512.png" class="card-img-top" alt="Sponsor 3">
            <div class="card-body">
            <h5 class="card-title">DigitalOcean</h5>
            <p class="card-text">Digital Ocean is a cloud computing platform that provides scalable and reliable virtual servers to host and manage web applications and services. </p>
            <a href="#" class="btn btn-primary">Visit website</a>
            </div>
        </div>
        </div>
    </div>

</div>

