<%- include('header.ejs') %> 

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Sponsor 1 -->
        <div class="col">
        <div class="card h-100">
            <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="Sponsor 1">
            <div class="card-body">
            <h5 class="card-title">Sponsor 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod, tortor at sagittis venenatis, libero risus interdum lorem, ac iaculis elit mi et metus. </p>
            <a href="#" class="btn btn-primary">Visit website</a>
            </div>
        </div>
        </div>

        <!-- Sponsor 2 -->
        <div class="col">
        <div class="card h-100">
            <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="Sponsor 2">
            <div class="card-body">
            <h5 class="card-title">Sponsor 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod, tortor at sagittis venenatis, libero risus interdum lorem, ac iaculis elit mi et metus. </p>
            <a href="#" class="btn btn-primary">Visit website</a>
            </div>
        </div>
        </div>

        <!-- Sponsor 3 -->
        <div class="col">
        <div class="card h-100">
            <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="Sponsor 3">
            <div class="card-body">
            <h5 class="card-title">Sponsor 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod, tortor at sagittis venenatis, libero risus interdum lorem, ac iaculis elit mi et metus. </p>
            <a href="#" class="btn btn-primary">Visit website</a>
            </div>
        </div>
        </div>
    </div>

</div>

