<%- include('header.ejs') %> 

<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="text-center mb-4"><b>Wiki</b></h1>
        <p>Welcome to our wiki section! Here you can find helpful information on how to use our application.</p>
        <hr>
        <h3>Creating a new paste</h3>
        <p>To create a new paste, click on the "Create Paste" button on the top left corner. Note that you need to create an account and log in beforehand. Then, enter a title and the content of your paste. Finally, click the "Create" button to create your new paste.</p>
        <hr>
        <h3>Viewing a paste</h3>
        <p>To view a paste, simply load the url in your browser. You will be taken to a page displaying the paste's content.</p>
        <hr>
        <h3>Viewing your page history</h3>
        <p>When logged in, click in your user name on the top left corner. This will take you to your paste history. Click on a title to view the paste.</p>
      </div>
    </div>
  </div>


</body>
</html>
  